:root {
  --main-bg-color: white;
  --second-bg-color: #f5f5f5;
}

/* Master */
.App {
  margin-right: 24px;
  min-height: 100vh;
}

/* === */
/* Left */

.nav {
  position: sticky;
  top: 0;
  padding: 24px;
  height: 100vh;
  background-color: var(--second-bg-color);
}

/* === */
/* Mid - Main */

.main {
  padding: 24px 0;
  position: relative;
}

.header {
  position: relative;
  text-align: left;
  z-index: 100;
  margin-bottom: -24px;
}

/* Make the tabs sticky when scrolled */
.ant-tabs-nav {
  position: sticky !important;
  top: 0px;
  padding-top: 24px;

  background-color: var(--main-bg-color);
  z-index: 1;
}

/* === */
/* Right - Chat */

.chat-container {
  position: sticky;
  top: 0;
  padding: 24px 0;
  height: 100vh;
  background-color: var(--main-bg-color);
}

.chat {
  height: 100%;
  position: relative;
  overflow-y: hidden;
}

.chat-height-control {
  position: absolute;
  left: 0;
  right: 0;

  height: 100%;
  width: 100%;
  overflow-y: scroll;
  padding-bottom: 160px;
}

.chat-height-control::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.chat-dialogue {
  padding: 24px;
}

.chat-dialogue.assistant {
  background-color: var(--second-bg-color);
}

.chat__llm-text {
  width: 100%;
  overflow-wrap: break-word;
}

.chat-footer {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;

  padding: 24px 12px;
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: row;
}
